/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//phone styles

.pc-nav{
    display: none;
    
}
.mobile-nav{
    display: block;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 0.8em; 

   .hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    width: 50px;
    border: 2px solid green;

    .line{
        height: 2px;
        width: 70%;
        background: green;
    }
   }
}
.banner{
    background: lightgrey;
    .left{
        .text{
            
           h1{
            font-weight: 600;
           }
           p{
            padding-top:2vh ;
            font-weight: 500px;
           }
           button{
           border: none;
           background: green;
           color: white;
           border-radius: 8px;
           width: 9rem;
        }
          
        }
    }
 .right{
    img{
        width: 100%;
        padding-top: 3vh;
    }
 } 
 .services{
    padding: 5vh 0;
    .services-text{
       h1{
        font-weight: bold;
       } 
    }
    .card{
        background-color: transparent;
        font-weight: bold;
        p{
            font-weight: 400;
        }
        a{
           color: green;
           padding-left: 0%;
        }
    }
 }  
}
.mission{
    .img{
        height: 60vh;
        width: 100%;
        background-image:url("/collegues.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .text-overlay{
            background-color: black;
            opacity: 0.6;
            color: white;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    
}
.benefits{
	
    .center-items{
            text-align: center;
        }
        .card{
            background-color: lightgray;
            padding: 1rem;
            border-radius: 15px;
            ol{
            list-style-type: decimal;
            padding-left: 1rem;
            }
        }
        .questions{
            
            height: 70vh;
            display: flex;
            align-items: center;
            

            .right{
              
                .container {
                    max-width: 600px;
                    // margin: 50px auto;
                    background-color: #cccccc;
                    padding: 20px;
                    color: black;
                    border-radius: 5px;
                }
                .form-group {
                    margin-bottom: 20px;
                }
                .form-group input[type="text"],
                .form-group input[type="email"],
                .form-group textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    color: black;
                    box-sizing: border-box;
                }
                .form-group input[type="submit"] {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    //background-color: #333;
                    //color: #fff;
                    color: black;
                    cursor: pointer;
                }
                .form-group input[type="submit"]:hover {
                    background-color: lightgrey;
                }
            }
        }
        
    }
   
    .footer{
        text-align: center;
     
        background: lightgrey;
        padding: 50px 0;
        button{
            background: green;
            padding: 5px 2rem;
            color: white;
            border: none;
            margin-top: 1rem;
        }
        input{
            width: 25%;
            padding: 7px;
        }

    }
    .copyright{
            background: green;
            color: white;
            height: 4vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
    }


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) { 


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .mobile-nav{
        display: none;
    }  
    .pc-nav{
        
        display: block;
        .flex-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                font-weight: 300;
    
                li{
                    color: green;
                    font-weight: 500;
    
                    button{
                        border: none;
                        background: green;
                        color: white;
                        border-radius: 8px;
                        width: 9rem;
                }
            }
        }
    
    }




}
.banner{
    .left{
        .text{
            h1{
                width: 100%;
                padding-top:5vh;
                
                font-weight: bolder;
            }
            p{
                
                padding-bottom: 2vh;
                padding-top: 3vh;
            }
        }
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        //background: red;
        
    }
    .services{
        .cards{
            display: flex;
            gap: 8px;
        }
    }
    


}
.mission{
    .img{
       .text-overlay{
        display: flexbox;
        flex-direction: column;
        text-align: left;
        font-size: 15px;
        p{
            width: 50%;
        }
     
       }
    }
}
.benefits{
    padding: 5vh  0;
	.center-items{
		text-align: left;
	}
	#heading{
		text-align: center;
		margin-bottom: 2em;
	}
	
}
}




/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
